.list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.cursor {
    cursor: pointer;
}

.grab {
    cursor: grab;
}

.line-through {
    text-decoration: line-through;
}

.task-text {
    display: inline-block;
}
.done {
    background-color: rgba(0, 128, 0, 0.332);
}